// font-size
$font-s: .8rem;
$font-normal: 14px;
$font-l: 1.2rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
// color
$text-color: #4d4d4d;
$text-nonactive-color: #a9a9a9;
$body-bg-color: #eee;
$app-bg-color: #fff;
$border-color: #999;
// margin / padding
$p1: 4px;
$p2: 8px;
$p3: 12px;
$p4: 16px;
$p5: 20px;
// text-align
// float
// radius
// shadow
$box-shadow: 0 2px 1px 1px rgba(0, 0, 0, .1);
